{% extends 'AppBundle::base.html.twig' %}

{% block title %}How It Works{% endblock %}

{% block body %}
    <section id="feature" class="transparent-bg">
        <div class="container">
            <div class="center">
                <h2>How It Works</h2>
            </div>

            <div class="row">
				<div class="col-md-3">
					<ul class="nav nav-pills nav-stacked nav-tabs font-normal" role="tablist">
						<li role="presentation" class="active"><a href="#howitworks" aria-controls="overview" role="tab" data-toggle="tab">How It Works</a></li>
						<li role="presentation"><a href="#invest" aria-controls="detail" role="tab" data-toggle="tab">Invest</a></li>
						<li role="presentation"><a href="#raisecapital" aria-controls="detail" role="tab" data-toggle="tab">Raise Capital</a> </li>
						<li role="presentation"><a href="#beavp" aria-controls="detail" role="tab" data-toggle="tab">Be A Venture Partner</a></li>
						<li role="presentation"><a href="#team" aria-controls="detail" role="tab" data-toggle="tab">Team</a></li>
						<li role="presentation"><a href="#advisoryboard" aria-controls="detail" role="tab" data-toggle="tab">Advisory Board</a></li>
						<li role="presentation"><a href="#ourvalues" aria-controls="detail" role="tab" data-toggle="tab">Our Values</a></li>
						<li role="presentation"><a href="#faq" aria-controls="detail" role="tab" data-toggle="tab">FAQ</a></li>
					</ul>
				</div>
				
				<div class="col-md-9 tab-content">
				
					<div role="tabpanel" class="tab-pane active" id="howitworks">
						<div class="row">
							<div class="col-md-12">
								<p><strong>
									Kobo Funds is an international syndication network built around a community of experienced 
									Venture Partners providing pre-screened opportunities to qualified investors.
								</strong></p>
								<p>
									The investment business landscape is in a period of profound change:
								</p>
								<ul>
									<li>entrepreneurs can access tradition-breaking new options when it comes to fundraising;</li>
									<li>investors are faced with innovative alternative opportunities in which to invest their capital;</li>
									<li>senior executives across the world are on a journey towards equity investments and entrepreneurship, turning knowledge and experience into powerful assets for the benefit of co-investors.</li>
								</ul>
								<p>
									Kobo’s mission is to enable its worldwide community of Venture Partners in connecting 
									with investors to fund a proprietary deal flow of groundbreaking ventures. This is 
									carried out by:
								</p>
								<ul>
									<li>engaging executives, entrepreneurs and investors - both private and institutional - around a common cause: value creation based on entrepreneurship;</li>
									<li>structuring syndicated deals led by Venture Partners, where different group of investors (private equity, venture capital, business angels, private funders) benefit from the experience of the lead investor.</li>
								</ul>

							</div>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="invest">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mt0">Invest</h3>

							</div>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="raisecapital">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mt0">Raise Capital</h3>

							</div>
						</div>
					</div>										
					
					<div role="tabpanel" class="tab-pane" id="beavp">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mt0">Be a Venture Partner</h3>

							</div>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="team">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mt0">Team</h3>

							</div>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane" id="advisoryboard">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mt0">Advisory Board</h3>

							</div>
						</div>
					</div>		
					
					<div role="tabpanel" class="tab-pane" id="ourvalues">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mt0">Our Values</h3>

							</div>
						</div>
					</div>			
					
					<div role="tabpanel" class="tab-pane" id="faq">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mt0">FAQ</h3>

							</div>
						</div>
					</div>																				
					
				</div>
            </div><!--/.row-->

        </div><!--/.container-->
    </section><!--/#feature-->
{% endblock %}
